<div class="filters">
    <div class="top">
        <h2>Filters</h2>
        <div class="buttons">
            <button (click)="onApply()" class="apply-btn">Apply</button>
            <button (click)="onClear()" class="clear-btn">Clear</button>
        </div>
    </div>
    <div class="brand-filter" *ngIf="!disableBrandsFilter">
        <div class="filter-title">
            <h1>Brand</h1>
        </div>
        <div class="filter-options">
            <form [formGroup]="brandsForm">
                <ul formArrayName="brands">
                    <li *ngFor="let brand of brands; let i = index">
                        <input 
                            type="checkbox" 
                            [id]="brand.name" 
                            [formControlName]="i" />
                        <label [for]="brand.name">{{ brand.name }}</label>
                        <p>{{getBrandsCount(brand)}}</p>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <div class="size-filter">
        <div class="filter-title">
            <h1>Size</h1>
        </div>
        <div class="filter-options">
            <form [formGroup]="sizesForm" action="">
                <ul formArrayName="sizes">
                    <li  *ngFor="let size of sizes; let i = index">
                        <input 
                            type="checkbox" 
                            [id]="size" 
                            [formControlName]="i" />
                        <label [for]="size">{{size}}</label>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <div class="price-filter">
        <div class="filter-title">
            <h1>Price</h1>
        </div>
        <div class="filter-options">
            <mat-slider min="500" max="30000">
                <input [(ngModel)]="minPrice" matSliderStartThumb>
                <input [(ngModel)]="maxPrice" matSliderEndThumb>
            </mat-slider>
            <div class="number-input">
                <label for="min">Min</label>
                <input [(ngModel)]="minPrice" type="number" id="min">
            </div>
            <div class="number-input">
                <label for="max">Max</label>
                <input [(ngModel)]="maxPrice" type="number" id="max">
            </div>
        </div>
    </div>
</div>