<div class="main">
    <div class="side-bar">
        <app-filter-side-bar [disableBrandsFilter]="false" [numOfShoesInBrands]="getNumOfShoesInBrands()"  (appliedFilters)="applyFilters($event)"></app-filter-side-bar>
    </div>
    <div class="right">
        <h1>{{title }}</h1>
        <div class="list">
            <app-shoe-item 
            *ngFor="let shoe of filteredShoes" 
            [shoe]="shoe" 
            [brand]="getShoeBrandName(shoe.brand)">
        </app-shoe-item>
        </div>
    </div>
   
</div>
