<div class="item" (click)="onClick($event)">
    <button 
        (click)="toggleFavourite()" 
        (mouseenter)="hovering = true" 
        (mouseleave)="hovering = false" 
        #favouriteButton>
            <i class="fa-regular fa-heart" style="font-weight: 300;" *ngIf="!isFavourite && !hovering"></i>
            <i class="fa-solid fa-heart" style="color: red;" *ngIf="isFavourite || hovering"></i>
    </button>
    <img [src]="shoe.variants[0].mainImageUrl" alt="">
    <div class="details">
        <p class="brand">{{brand}}</p>
        <p class="name">{{shoe.name}}</p>
        <p class="price">{{shoe.variants[0].price}} EGP</p>
    </div>
</div>