.container {
    width: 100%;
    margin-top: 1.5em;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.address-details {
    position: relative;
    width: 100%;
    height: 12em;
    border: 1.3px solid rgb(211, 210, 210);
}

.address-details p {
    font-size: 20px;
    font-weight: 400;
    margin: 0.6em;
}

.address-details .edit-btn {
    position: absolute;
    right: 1em;
    top: 0.5em;
    padding: 0;
    width: 2em;
    height: 1.6em;
    color: rgb(163, 45, 163);
    font-size: 18px;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
}

.address-details .edit-btn:hover {
    border-bottom: 1px solid rgb(163, 45, 163);
}

.next-btn {
    width: 5em;
    height: 2.2em;
    background: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0.4em;
    margin-top: 2.3em;
    border: none;
    cursor: pointer;
}

.address-form-container {
    width: 100%;
    height: 20em;
    border: 1.3px solid rgb(211, 210, 210);
}

.address-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.label-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: center;
    width: 40%;
    margin: 0.5em;
}

.label-input label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.4em;
}

.label-input input {
    width: 90%;
    height: 1.5em;
    font-size: 18px;
    font-weight: 530;
    padding: 2%;
    background: rgb(173, 173, 173);
    color: white;
    border: none;
}

.address-form button {
    width: 38%;
    height: 2.2em;
    background: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0.4em;
    margin-top: 2.3em;
    border: none;
    cursor: pointer;
}

.address-form button:hover {
    background: rgb(87, 87, 87);
}
